In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

https://sydney.bootcampcontent.com/university-of-sydney/USYD-VIRT-FIN-PT-12-2022-U-LOLC/-/blob/main/03-Python-Pandas/1/Activities/03-condition-control-flow-01/README.md

In [9]:
farm = ["pig", "cow", "chicken", "dog", "horse", "sheep"]
print(farm)

['pig', 'cow', 'chicken', 'dog', 'horse', 'sheep']

In [11]:
if farm[0] != "Godzilla":
        print("RWAR!")
        
elif farm[-1] == "Mothra":
        print("SCREECH!")
        
else: 
    print("This animal is neither Godzilla nor Mothra!")

RWAR!

In [12]:
dog = "Spot"
cat = []
city = []
car = []

In [13]:
print(f"See {dog} run!")

See Spot run!

In [14]:
budget = 5000
rent = 1500
util = 150
food = 250
transport = 350
pc_cost = 2000
total_cost = rent + util + food + transport + pc_cost

In [15]:
if total_cost <= 5000:
    print(f"Your total cost is ${total_cost} :)")
else:
    print (f"You're over budget by ${budget - total_cost}")

Your total cost is $4250 :)

In [16]:
if rent > util+food+transport:
    print(f"rent b higher than food util and transport by ${rent - (util + food + transport)}")
else:
    print('just right!')

rent b higher than food util and transport by $750

Conditional

https://sydney.bootcampcontent.com/university-of-sydney/USYD-VIRT-FIN-PT-12-2022-U-LOLC/-/tree/main/03-Python-Pandas/1/Activities/04-condition-control-flow-02

In [17]:
c1_name = "Mr. Farley"
c1_age = 65
c2_name = "Mr. Snuggles"
c2_age = 30
c1_prof = "Web Developer"
c2_prof = "Accountant"

In [18]:
if c1_name == "Mr. Farley":
    print(f'hello {c1_name}')
else:
    print(f'hello stranger')

hello Mr. Farley

In [19]:
if c2_age > c1_age:
    print(f'{c2_age}older than{c1_age}')
elif c2_age < c1_age:
    print(f'{c2_age} is younger than {c1_age}')
else:
    print('theyre the same age')

30 is younger than 65

In [20]:
if c1_prof == "Web Developer" and c2_prof == "Accountant":
    print('g')
else:
    print('nah')

g

In [21]:
welcome_name = "Welcome to the sandwich shop, what do I call you?"

In [22]:
print(f'Hello, {welcome_name}')

Hello, Welcome to the sandwich shop, what do I call you?

### Input : Just use a = input()

In [25]:
question_sandwich = input("Are you here for a sandwich? (Y/N)")

Are you here for a sandwich? (Y/N) Y

In [26]:
if question_sandwich == "Y":
    food_prompt = "What kind of sandwich would you like?"
    print(f'please wait 10 min for your {food_prompt}')
elif question_sandwich == "N":
    print('If you dont want a sandwich what are you here for')
else:
    print('niether y or n')

please wait 10 min for your What kind of sandwich would you like?

Dict

In [27]:
san_francisco = {
    "west_coast": True,
    "has_multiple_bridges": True,
    "known_for_pizza": False,
    "coastal": True,
    "snows": False,
    "very_hot": False,
    "mayor": "London Breed",
    "state": "California",
    "country": "USA",
    "best_food": "burritos",
    "sports_teams": ["Giants", "Warriors", "Forty-Niners"],
    "tallest_building": "SalesForce Building",
    "population": 884363,
    "city_size": "large",
    "median_house_price": 1610000,
    "famous_residents": ["Maya Angelou", "Robert Frost", "Carlos Santana"],
    "homeless_pop": 1150,
    "political_leaning": "Democrat",
    "notable_attractions": ["Alcatraz", "Golden Gate Bridge", "Fisherman's Wharf"],
    "natural_disasters": ["Earthquakes"],
}

In [28]:
dan_fran={}
dan_fran["west_coast"] = True
dan_fran["natural_disasters"] = ["Earthquakes"]
dan_fran

{'west_coast': True, 'natural_disasters': ['Earthquakes']}

Function

In [29]:
def warble(a):
    x = (f'{a} arglebargle')
    return x

In [30]:
print(warble('hello'))

hello arglebargle

In [31]:
def wibble(a):
    print (a)
    x = (f'wibbly {a}')
    return x

In [32]:
print(wibble('bibbly'))

bibbly
wibbly bibbly

In [33]:
def print_sum(a,b):
     print(a+b)

In [34]:
def return_sum(a,b):
     return a +b

In [35]:
def triple_sum(a,b,c):
     return a +b + c

In [36]:
def dance_party(a):
    print("dance!")
    x = wibble(a)
    y = warble(a)
    return x,y

In [37]:
print(dance_party("Jon"))

dance!
Jon
('wibbly Jon', 'Jon arglebargle')

#### loops

https://sydney.bootcampcontent.com/university-of-sydney/USYD-VIRT-FIN-PT-12-2022-U-LOLC/-/tree/main/03-Python-Pandas/1/Activities/10-loops-01

In [38]:
our_list =[]

In [39]:
our_list.append('1')

In [40]:
our_list

['1']

In [41]:
our_list.append('hello')
our_list.append('False')
our_list.append(84)
our_list.append('world')

In [42]:
our_list[0] = 1

In [43]:
print(our_list)

[1, 'hello', 'False', 84, 'world']

In [44]:
one_to_ten = range(1,11)
print(list(one_to_ten))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
one_to_ten[7]

8

In [46]:
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]

In [47]:
greater_than_50 = []

for i in num_list:
    if i>50:
        greater_than_50.append(i)

In [48]:
greater_than_50

[65, 94, 299, 51]

In [49]:
for i in num_list:
    if i == 11:
        print(num_list.index(11))

6

Summing through iterating

In [61]:
total = 0

In [62]:
for i in num_list:
    total += i
print(total)

680

In [ ]:
print if number > 50

In [64]:
total2 = 0 
for i in num_list:
    if i> 50:
        total2 += i
print(total2)

509

Even numbers only sum:

In [69]:
total3 = 0 
for i in num_list:
    if  i % 2:
        total3 += i
print(total3)

542

In [75]:
fruits = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]

Counting "apple's" occurances:

In [132]:
count = 0
for i in fruits:
    if i == 'Apple':
        count += 1
        
print(count)

4

In [133]:
count1 = 0
for i in fruits:
    if i[0] == 'P':
        count1 += 1

print(count1)

4

In [88]:
unique_fruits =[]

### Appending to a new list without any duplicates

In [134]:
for i in fruits:
    if i not in unique_fruits: #If it currently isnt in there , itll still it in there
        unique_fruits.append(i)

In [135]:
unique_fruits

['Apple',
 'Orange',
 'Banana',
 'Pomelo',
 'Kiwi',
 'Peach',
 'Grape',
 'Tomato',
 'Watermelon',
 'Lemon',
 'Apricot']

In [136]:
two_dim_list = [
  [54, 6, 7, 46, 78],
  [43, 9, 6, 65, 65],
  [32, 1, 44, 1, 23],
  [55, 12, 2, 34, 2],
  [2, 12, 44, 2, 12]]

#### Iterating through List of Lists, we must add a second "for x in y" /// ODD NUMBER PRINTING

In [137]:
for i in two_dim_list:
    for a in i: # The second "for" statement
        if a % 2 != 0 :
            print(a)

7
43
9
65
65
1
1
23
55

In [140]:
total4 = 0
for i in two_dim_list:
    for a in i: # The second "for" statement
        if a % 3:
            total4 += a
print(total4)

468

Calculator Challenge:

In [141]:
def calculate(a,b):
    
    result = 0
    choice = input("What do you want to do: Add, Subtract, Multiply or Divide?")
    if choice == 'Add':
        result = a+b
    elif choice == 'Subtract':
        result = a-b 
    elif choice == 'Multiply':
        result = a*b
    elif choice == 'Divide':
        result = a/b

    return result

In [142]:
print(calculate(5,6))

What do you want to do: Add, Subtract, Multiply or Divide? Multiply

30

In [143]:
import random

In [144]:
def number_guess(x):
    if x == 42:
        print('true')
    else:
        print('false')

In [145]:
print(number_guess(42))

true
None

In [154]:
def smallest_no(y):
    mini = []
    for i in y:
        if i == min(y):
            mini.append(i)
    
        return mini

In [155]:
list1 = [1,2,3,4,6,78,9]

In [156]:
print(smallest_no(list1))

[1]

In [157]:
gang = ['cal','adsdsads','a','asdasdasd']

In [161]:
def short_string(y):
    ok = []
    for i in y:
        if i == min(len(i)):
            ok.append(i)
            
        return ok

In [159]:
print(short_string(gang))

TypeError: 'int' object is not iterable

In [162]:
def three(high,low,x):
    set = []
    for i in x:
        if i > low and i < high:
            set.append(i)
    
    return set

In [165]:
h = 90
l = 30
x1 = [25, 28, 31, 39, 49, 70, 90, 98,99]

In [166]:
three(h,l,x1)

[31, 39, 49, 70]