In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

# WEEK 2

In [3]:
wage = 89.84

In [5]:
print("The data type of variable x variable is", type(wage))

The data type of variable x variable is <class 'float'>

#### F-String

In [9]:
x= 99999
y= '89988'

In [11]:
print(f'we had about {x} chickens on the {y} lawns')

we had about peep chickens on the leek lawns

### *Task 1*

In [20]:
original_price = 10
current_price = 15
increase = current_price - original_price
percent_increase = (increase/original_price)*100

In [21]:
print(original_price)
print(current_price)
print(increase)
print(percent_increase)

10
15
5
50.0

In [23]:
print(f"Apple's original stock price was ${original_price}")

print(f"Apple's current stock price is ${current_price}")

print(f"Apple increased it's price by ${increase}")

print(f"Apple increased it's price by {percent_increase}%")

Apple's original stock price was $10
Apple's current stock price is $15
Apple increased it's price by $5
Apple increased it's price by 50.0%

<br>

 ## Conditionals

if , else , elif etc.

In [25]:
is_raining = True
if is_raining:
    print("Bring an umbrella!")
else:
    print("leave at home!")

Bring an umbrella!

#### *the double '==' checks whether it is equal or NOT equal, 1 '=' assigns a variable a value*

In [26]:
x=5 # DEFINE 
if x==1: #THIS CHECKS
    print("x is equal to 1")

It didn't print, because x wasn't equal to 1

In [28]:
y=9 # DEFINE 
if y==9: #THIS CHECKS
    print("y is equal to 9")

y is equal to 9

In [30]:
z = 10
if z != 3929329:
    print('z aint equal to taht number ^^')

z aint equal to taht number ^^

Double condition

In [31]:
x = 1
y = 10
if x==1 and y < 11:
    print('both are true')

both are true

#### Elif - Nested // if else

In [41]:
x = 12
y = 9

elif is essentially just another chance at "guessing" or trying to find the target, e.g. y ==5 in this case.

In [42]:
if x<10:
    #These below are only operating because x is less than 10, otherwise we go to the last "else".
    if y<5:
        print("x is less than 10 and y is less than 5") # only printed bc x is less than 10
    elif y==5:
        print("x is less than 10 and y is equal to 5") # otherwise, x is less than 10 still, but print if y=5
    else:
        print("x is less than 10 and y is greater than 5")
        
else:
    print("nah mate nothings workin' here")

nah mate nothings workin' here

<br><br>

*Examples*

In [45]:
# 1.
x = 5
y = 10
if 2 * x > y:
    print("Question 1 works!")
else:
    print("Oooo needs some work")

Oooo needs some work

In [46]:
# 2.
x = 5
y = 10
if len("Dog") < x:
    print("Question 2 works!")
else:
    print("Still missing out")

Question 2 works!

In [47]:
# 3.
age = 21
if age > 20:
    print("You are of drinking age!")
else:
    print("Argggggh! You think you can hoodwink me, matey?! You're too young to drink!")

You are of drinking age!

#### ** is "exponential"

In [49]:
# 4.
x = 2
y = 5
if (x ** 3 >= y) and (y ** 2 < 26):
    print("GOT QUESTION 4!")
else:
    print("Oh good you can count")

GOT QUESTION 4!

#### <font color=red> Using booleans and if/elif/else: </font>

The reason the 3rd elif worked is the 2nd "or" statement. Simply putting (adult_permission) just means that it has to be true and the condition is met.
<br><br> - That's why in the example with the instructor we had a "if statement" start with: <font color=red>  if accident: </font> , and the accident was simply just whether it was true or false

In [185]:
# 5.
height = 66
age = 16
adult_permission = True

if (height > 70) and (age >= 18):
    print("Can ride all the roller coasters")
elif (height > 65) and (age >= 18):
    print("Can ride moderate roller coasters")
elif (height > 60) and (age >= 18):
    print("Can ride light roller coasters")
elif ((height > 50) and (age >= 18)) or ((adult_permission) and (height > 50)):
    print("Can ride bumper cars")
else:
    print("Stick to lazy river")

Can ride bumper cars

<br>

#### <font color=red> For loops </font>

In [53]:
word = "tele"
for letters in word:
    print(letters)

t
e
l
e

##### it breaks at 5 , because its met its condition of equally "pop", which is 5

In [60]:
pop = 5
for x in range(10):
    if x==pop:
        break
    print(x)

0
1
2
3
4

"continue" skips the 5.... "continue" means don't print the 5, but keep going

In [61]:
pop = 5
for x in range(10):
    if x==pop:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [63]:
# Create a variable named cheer and give it a word to cheer (i.e. Python or FinTech)
cheer = "fintech"

# Below strings can be used to add fun
cheer_symbol = "*\O/*"
cheer_symbol_2 = "ヘ( ^o^)ノ＼(^_^ )"

# Loop through string and print each letter with a cheer
for symbols in cheer:
    print(symbols)


# Print excitement to screen
print("\nWhat does that spell?!")
print(cheer + "!\nWoohoo! Go " + cheer + "!")
print(cheer_symbol * 3)
print(cheer_symbol_2)

f
i
n
t
e
c
h

What does that spell?!
fintech!
Woohoo! Go fintech!
*\O/**\O/**\O/*
ヘ( ^o^)ノ＼(^_^ )

<br>

#### <font color=orange> Final challenge </font>

In [79]:
original_price = 10
current_price = 15
increase = current_price - original_price
percent_increase = (increase/original_price)*100
recommendation = "buy"
threshold_to_buy = 12

In [92]:
print(f'${original_price} is the original price')
print(f'${current_price} is the current price')
print(f'{percent_increase}% is the percentage increase')

$10 is the original price
$15 is the current price
50.0% is the percentage increase

In [106]:
balance = 10000

In [107]:
if balance > 5*current_price:
    if (1+percent_increase)*original_price > threshold_to_buy:
        print("Recommendation: dont " + recommendation)

    elif (1+percent_increase)*original_price < threshold_to_buy:
        print("Recommendation: " + recommendation)
        
else:
    print('no trading')

Recommendation: dont buy

### In the example they give they use thresold directionally... as in threshold to buy was -10, meaning it'd have to fall atleast $10.

In [2]:
# if percent_increases >= thresold_to_sell:
#     recommendation = "sell"
# elif percent_increase <= threshold_to_buy:
#     recommendation = "buy"
# elif percent_increase = current_price:
#     recommendation = "hold"
    
#     print("Recommendation: " + recommendation)

<br> <br> <br>

## *Lists*

In [4]:
numb = [1,2,3,5,6]
numb

[1, 2, 3, 5, 6]

In [5]:
numb[0]

1

In [16]:
numb[0:5:2] # The "2" acts as a sequencer for what steps to step

[1, 3, 6]

In [9]:
numb[2:]

[3, 5, 6]

In [12]:
numb[:-1]

[1, 2, 3, 5]

#### modifying lists

In [17]:
#changing the first variable
numb[0] = "hey_mate"

In [18]:
numb

['hey_mate', 2, 3, 5, 6]

adding a value to end

In [19]:
numb.append('magpie')

In [22]:
numb

['hey_mate', 2, 3, 5, 6, 'magpie']

removing a value

In [23]:
numb.remove('magpie')

In [24]:
numb

['hey_mate', 2, 3, 5, 6]

states the position of object in the list

In [21]:
numb.index('magpie')

5

#### new content: how to identify using index and pop

In [26]:
index = numb.index('hey_mate')

In [27]:
index

0

".pop" removes that variable

In [28]:
numb.pop(index)

'hey_mate'

In [29]:
numb

[2, 3, 5, 6]

#### Task 1

In [56]:
list = ["Water", "Butter", "Eggs", "Apples", "Cinnamon", "Sugar", "Milk"]

In [57]:
# @TODO: Find the first two items on the list
list[:2]

# @TODO: Find the last five items on the list
list[2:]

# @TODO: Find every other item on the list, starting from the second item
list[1::2]

# @TODO: Add an element to the end of the list
list.append('flour')

# @TODO: Changes a specified element within the list at the given index
list[3] = "gala apples"

# @TODO: Calculate how many items you have in the list
len(list)

8

Mike wants to find where gala apples is on his list. Find the index of gala apples.


Mike remembers that he already has sugar. Remove sugar from the grocery list.


Mike decides that he has water at home. Remove water from the grocery list based on its index.


Mike decides to pick up the last item on his list, so remove the last item from the grocery list.

In [58]:
list.index("gala apples")

3

In [41]:
index = list.index("Sugar")

In [42]:
list.pop(index)

'Sugar'

In [43]:
list

['Water', 'Butter', 'Eggs', 'gala apples', 'Cinnamon', 'Milk', 'flour']

In [46]:
index2 = list.index("Water")
list.pop(index2)

'Water'

In [47]:
list

['Butter', 'Eggs', 'gala apples', 'Cinnamon', 'Milk', 'flour']

In [60]:
list_final = list[:-1]
#OR
#list = pop(-1)

In [49]:
list_final

['Butter', 'Eggs', 'gala apples', 'Cinnamon', 'Milk']

### <font color=red> Looping with a list </font>

In [86]:
cash = [1,23,56,7,88,98,99]

In [87]:
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

In [88]:
for i in cash:
    print(i)

1
23
56
7
88
98
99

In [89]:
for i in cash:
    total += i # summ all the numbers - iterating over each number and cumulatively adding the numbers
    #above is same as toatl = total + tip
    
# ensuring that it gets the minimum/maximum by iteratively testing each number against the prevuous number

    if minimum ==0:
        minimum= i
    elif i < minimum: 
        minimum = i
    elif i > maximum:
        maximum = i
  

average = round(total/len(cash), 2)

In [90]:
print(count)
print(total)
print(average)
print(minimum)
print(maximum)

0
372
53.14
1
99

### Iterating Loops task

<br>
Trading Log
In this activity, you will use lists to create a trading log that tracks profits and losses for each market day of the month. You will iterate over the list to calculate the highest and lowest profit and loss days. The goal of this activity is to use for loops and lists in order to track metrics related to trading performance.

Background
Karen, an equity trader, has been tracking her profits and losses over the course of the last 20 business days. She wants to quickly analyze her ongoing performance as she continues to log her profits and losses every day. Understanding her profits and losses each day will allow Karen to evaluate her performance for all trades monthly, weekly, and over time. Help Karen create a program to analyze her results.

Instructions
Using the starter file, complete the following:


Create a for loop over the trading_pnl list object, and cumulatively sum up the total profits/losses and the count of actual trading days.


Use an if-else statement to calculate the maximum and minimum profit/loss values. In other words, find the numerical value of the best and worst trading days.


Create additional lists profitable_days and unprofitable_days and use if-else statements to group daily trading values into each corresponding list.


Determine the following:


Number of total trading days


Total profits and losses


Daily average profit and loss


Worst loss


Best gain


Number of profitable days


Number of unprofitable days


Percentage of profitable days


Percentage of unprofitable days


Print the values of only profitable days.


Print the values of only unprofitable days.

In [115]:
trading_pnl = [ -224,  352, 252, 354, -544,
                -650,   56, 123, -43,  254,
                 325, -123,  47, 321,  123,
                 133, -151, 613, 232, -311 ]

In [116]:
len(trading_pnl)
print(f'There is {len(trading_pnl)} trading days being recorded')

There is 20 trading days being recorded

In [117]:
total = 0
maximum = 0
minimum = 0

for i in trading_pnl:
    total += i
    
    if i == minimum:
        minimum = 0

    elif i < minimum:
        minimum = i
    
    elif i > maximum:
        maximum = i

print(f'Total P/L this month is ${total}.00')
print(f'max ret = ${maximum}.00')
print(f'min ret = ${minimum}.00')

Total P/L this month is $1139.00
max ret = $613.00
min ret = $-650.00

In [118]:
profitable_days = []
unprofitable_days = []

In [119]:
for i in trading_pnl:
    if i > 0:
        profitable_days.append(i)
    elif i <= 0:
        unprofitable_days.append(i)

In [120]:
total2 = 0
for i in profitable_days:
    total2 += i

In [121]:
total3 = 0
for i in unprofitable_days:
    total3 += i

In [124]:
print(f'These are the profitable day values: {profitable_days}')
print(f'Number of prof days: {len(profitable_days)}')
print(f'Avg prof day: ${total2/len(profitable_days)}')
print(f'% of profitable days: {(len(profitable_days)/len(trading_pnl))*100}%')

print(f'\n')

print(f'These are the unprofitable day values: {unprofitable_days}')
print(f'Number of unprof days: {len(unprofitable_days)}')
print(f'Avg unprof day: ${round(total3/len(unprofitable_days),2)}')
print(f'% of unprofitable days: {(len(unprofitable_days)/len(trading_pnl))*100}%')

These are the profitable day values: [352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232]
Number of prof days: 13
Avg prof day: $245.0
% of profitable days: 65.0%


These are the unprofitable day values: [-224, -544, -650, -43, -123, -151, -311]
Number of unprof days: 7
Avg unprof day: $-292.29
% of unprofitable days: 35.0%

<br>

## *Dicts*

In [132]:
trader = {
    "month" : "name",
    "jan" : "bob",
    "feb" : "cam",
    "march" : "cat"
}

In [133]:
print(trader)

{'month': 'name', 'jan': 'bob', 'feb': 'cam', 'march': 'cat'}

In [136]:
trader["jan"]

'bob'

adding:

In [137]:
trader["april"] = "genorinamee"

In [139]:
trader

{'month': 'name',
 'jan': 'bob',
 'feb': 'cam',
 'march': 'cat',
 'april': 'genorinamee'}

In [141]:
# Change value same as list e.g.:
trader["jan"] = 'caterson'

In [142]:
trader

{'month': 'name',
 'jan': 'caterson',
 'feb': 'cam',
 'march': 'cat',
 'april': 'genorinamee'}

deleting values

In [144]:
#ALSO
del trader['feb']
trader

{'month': 'name', 'jan': 'caterson', 'march': 'cat', 'april': 'genorinamee'}

In [145]:
if 'jan' in trader:
    print('yes, it is one of the keys in the dictionary')

yes, it is one of the keys in the dictionary

In [146]:
for i in trader:
    print(i)

month
jan
march
april

### Finding the key, value through the 'items' function

In [150]:
for key, value in trader.items():
    print(f"Key:{key}    Value:{value}")

Key:month    Value:name
Key:jan    Value:caterson
Key:march    Value:cat
Key:april    Value:genorinamee

In [152]:
banks = {

"JP Morgan Chase" : 327,
"Bank of America" : 302,
"Citigroup" : 173,
"Wells Fargo" : 273,
"Goldman Sachs" : 87,
"Morgan Stanley" : 72,
"U.S. Bancorp" : 83,
"TD Bank" : 108,
"PNC Financial Services" : 67,
"Capital One" : 47,
"FNB Corporation": 4,
"First Hawaiian Bank": 3,
"Ally Financial": 12,
"Wachovia": 145,
"Republic Bancorp": .97,
    
}

In [153]:
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 173,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Wachovia': 145,
 'Republic Bancorp': 0.97}

In [154]:
banks['Citigroup'] = 170

In [155]:
banks['American Express'] = 33

In [156]:
del banks['Wachovia']

In [157]:
banks

{'JP Morgan Chase': 327,
 'Bank of America': 302,
 'Citigroup': 170,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'U.S. Bancorp': 83,
 'TD Bank': 108,
 'PNC Financial Services': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'First Hawaiian Bank': 3,
 'Ally Financial': 12,
 'Republic Bancorp': 0.97,
 'American Express': 33}

In [158]:
total_mkt_cap =0

for key, value in banks.items():
    total_mkt_cap += value

In [166]:
print(f'total market cap is = {total_mkt_cap}')
print(f'total no of banks =  {len(banks)}')
print(f'avg market_cap =  {total_mkt_cap/len(banks)}')

total market cap is = 1588.97
total no of banks =  15
avg market_cap =  105.93133333333334

In [168]:
max = 0
min = 0

for key,value in banks.items():
    if value == min:
        min = 0
    elif value < min:
        min = value
    elif value > max:
        max = value

In [171]:
print(f'MAX =  {max}')
print(f'MIN =  {min}')

MAX =  327
MIN =  0

### Activity

Market Capitalization
In this activity, you will create a dictionary, and then update, remove, and extract values in/from the dictionary.

Background
Sam wants to categorize banks by their market capitalizations, which is the total dollar market value of a company's outstanding shares. Because she wants to know the relationship between a certain bank and its market capitalization, Sam uses a dictionary to index bank names to the value of its market cap.
Sam needs to make a few changes to her dictionary of bank market caps because she noticed a few errors and omissions. Help Sam fix her dictionary of bank market caps, and even better, help her group the banks by their corresponding market capitalization tier.

Instructions
Using the starter file, complete the following:


Initialize the dictionary of banks. Add the following key-value pairs:

JP Morgan Chase: 327
Bank of America: 302
Citigroup: 173
Wells Fargo: 273
Goldman Sachs: 87
Morgan Stanley: 72
U.S. Bancorp: 83
TD Bank: 108
PNC Financial Services: 67
Capital One: 47
FNB Corporation: 4
First Hawaiian Bank: 3
Ally Financial: 12
Wachovia: 145
Republic Bancorp: .97



Change the market cap for Citigroup to 170.


Add a new bank American Express to the dictionary and set the market cap to 33.


Delete Wachovia from the dictionary, as it is a deprecated bank acquired by Wells Fargo in 2008.



Challenge
Group banks by their corresponding market capitalization tier.


Iterate over the key-value pairs in the banks dictionary and calculate the following:

Total market capitalization
Total number of banks
Average market capitalization
Largest bank
Smallest bank



Use an if-else statement and lists to compare and group banks by their corresponding market capitalization: mega-cap, large-cap, mid-cap, and small-cap.


mega-cap: Market capitalization greater than or equal to $300 billion.


large-cap: Market capitalization greater than or equal to $10 billion and less than $300 billion.


mid-cap: Market capitalization greater than or equal to $2 and less than $10 billion.


small-cap: Market capitalization greater than or equal to $300 million and less than $2 billion.

In [172]:
mega =[]
large = []
mid = []
small = []

In [175]:
for key,value in banks.items():
    if value >= 300:
        mega.append(value)
    elif value >= 10 and value < 300:
        large.append(value)
    elif value >= 2 and value < 10:
        mid.append(value)
    elif value >= 0.3 and value <2:
        small.append(value)

In [181]:
print(f'Mega caps = {mega}\n\nlarge caps = {large}\n\nmid caps = {mid}\n \nsmall caps = {small}')

Mega caps = [327, 302]

large caps = [170, 273, 87, 72, 83, 108, 67, 47, 12, 33]

mid caps = [4, 3]

small caps = [0.97]

<br>

## Nested Lists and Dict

In [186]:
list_of_list = [
    ["wepr", 2, "doctor"],
    ["wepy", 3, "nurse"],
    ["wep", 4, "cat"]
]

list_of_list

[['wepr', 2, 'doctor'], ['wepy', 3, 'nurse'], ['wep', 4, 'cat']]

In [191]:
first = list_of_list[0]
first

['wepr', 2, 'doctor']

In [195]:
first_thing_of_first_list = list_of_list[0][0]
first_thing_of_first_list

'wepr'

In [188]:
list_of_dict = [
                {
                    
    "month" : "name",
    "jan" : "bob",
    "feb" : "cam",
    "march" : "cat"
    }
]

In [189]:
list_of_dict

[{'month': 'name', 'jan': 'bob', 'feb': 'cam', 'march': 'cat'}]

#### Refer to things in the dictionary by ["x"] but with list [0] - specify the key names to point it out

### new challenge

Use the new_records dictionary to add each new stock ticker record to the corresponding list of records in the historical_stock_data dictionary. Appended stock ticker records should be in the following format: [date, open, high, low, close]. You have two options for how you do this:


Create a list object for each new stock ticker record in the new_records dictionary in the above sequence. Manually append each list to the corresponding list of stock ticker records in the historical_stock_data dictionary.


Loop through the new_records dictionary and append a new stock ticker record to each corresponding ticker in the historical_stock_data dictionary.




Print out the modified historical_stock_data dictionary.

In [215]:
historical_stock_data = {
    "AAPL": [
        ["04-17-2019", 199.54, 203.38, 198.61, 203.13],
        ["04-18-2019", 199.46, 201.37, 198.56, 199.25],
        ["04-19-2019", 198.58, 199.85, 198.01, 199.23],
        ["04-20-2019", 199.20, 200.14, 196.21, 198.87],

    ],
    "MU": [
        ["04-17-2019", 43.20, 43.53, 42.79, 43.40],
        ["04-18-2019", 43.36, 44.05, 42.76, 43.15],
        ["04-19-2019", 42.26, 42.93, 42.08, 42.76],
        ["04-20-2019", 42.17, 42.23, 41.20, 41.82],

    ],
    "AMD": [
        ["04-17-2019", 27.60, 27.88, 27.34, 27.68],
        ["04-18-2019", 28.21, 28.27, 27.22, 27.49],
        ["04-19-2019", 27.72, 28.18, 27.49, 27.93],
        ["04-20-2019", 27.80, 27.84, 26.96, 27.33],

    ],
    "TWTR": [
        ["04-17-2019", 34.67, 34.86, 34.32, 34.40],
        ["04-18-2019", 34.73, 34.90, 34.20, 34.48],
        ["04-19-2019", 34.84, 34.99, 34.23, 34.46],
        ["04-20-2019", 34.38, 35.03, 34.34, 34.71],

    ]
}

In [212]:
historical_stock_data["MU"]

[['04-17-2019', 43.2, 43.53, 42.79, 43.4],
 ['04-18-2019', 43.36, 44.05, 42.76, 43.15],
 ['04-19-2019', 42.26, 42.93, 42.08, 42.76],
 ['04-20-2019', 42.17, 42.23, 41.2, 41.82]]

# STUDY STUDY STUDY

In [219]:
for key, value in new_records.items():
    record = [value['date'], value['open'], value['high'], value['low'],value['close']] # Loops over only the values

    historical_stock_data[key].append(record) #Appending those looped values (that are now in a list) onto the MATCHED KEYs through that his_stock_value[key]
    
historical_stock_data

{'AAPL': [['04-17-2019', 199.54, 203.38, 198.61, 203.13],
  ['04-18-2019', 199.46, 201.37, 198.56, 199.25],
  ['04-19-2019', 198.58, 199.85, 198.01, 199.23],
  ['04-20-2019', 199.2, 200.14, 196.21, 198.87],
  ['04-21-2019', 200.85, 201.0, 198.44, 198.95],
  ['04-21-2019', 200.85, 201.0, 198.44, 198.95],
  ['04-21-2019', 200.85, 201.0, 198.44, 198.95]],
 'MU': [['04-17-2019', 43.2, 43.53, 42.79, 43.4],
  ['04-18-2019', 43.36, 44.05, 42.76, 43.15],
  ['04-19-2019', 42.26, 42.93, 42.08, 42.76],
  ['04-20-2019', 42.17, 42.23, 41.2, 41.82],
  ['04-21-2019', 42.85, 43.2, 41.81, 42.01],
  ['04-21-2019', 42.85, 43.2, 41.81, 42.01],
  ['04-21-2019', 42.85, 43.2, 41.81, 42.01]],
 'AMD': [['04-17-2019', 27.6, 27.88, 27.34, 27.68],
  ['04-18-2019', 28.21, 28.27, 27.22, 27.49],
  ['04-19-2019', 27.72, 28.18, 27.49, 27.93],
  ['04-20-2019', 27.8, 27.84, 26.96, 27.33],
  ['04-21-2019', 28.21, 28.38, 27.66, 27.85],
  ['04-21-2019', 28.21, 28.38, 27.66, 27.85],
  ['04-21-2019', 28.21, 28.38, 27.66, 27.85]],
 'TWTR': [['04-17-2019', 34.67, 34.86, 34.32, 34.4],
  ['04-18-2019', 34.73, 34.9, 34.2, 34.48],
  ['04-19-2019', 34.84, 34.99, 34.23, 34.46],
  ['04-20-2019', 34.38, 35.03, 34.34, 34.71],
  ['04-21-2019', 34.67, 34.83, 34.11, 34.37],
  ['04-21-2019', 34.67, 34.83, 34.11, 34.37],
  ['04-21-2019', 34.67, 34.83, 34.11, 34.37]]}

In [216]:
new_records = {
    "AAPL": {
        "date": "04-21-2019",
        "open": 200.85,
        "high": 201.00,
        "low": 198.44,
        "close": 198.95
    },
    "MU": {
        "date": "04-21-2019",
        "open": 42.85,
        "high": 43.20,
        "low": 41.81,
        "close": 42.01
    },
    "AMD": {
        "date": "04-21-2019",
        "open": 28.21,
        "high": 28.38,
        "low": 27.66,
        "close": 27.85
    },
    "TWTR": {
        "date": "04-21-2019",
        "open": 34.67,
        "high": 34.83,
        "low": 34.11,
        "close": 34.37
    }
}

In [213]:
new_records["AAPL"]

{'date': '04-21-2019',
 'open': 200.85,
 'high': 201.0,
 'low': 198.44,
 'close': 198.95}

<br> <br>

### Functions

In [224]:
def fkitup(a,b):
    return a*b**3

In [225]:
xy = fkitup(3,5)
xy

375

In [227]:
def yolo(x):
    for i in x:
        if i > 100:
            print(f'{x} is big!')
        elif i <100:
            print(f'{x} is small!')

In [229]:
lets = [1,8,9,19,50,70,90]

In [230]:
ai = yolo(lets)
ai

[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!
[1, 8, 9, 19, 50, 70, 90] is small!

Task

In [232]:
def calculate_compound_growth_rate(beginning_balance,ending_balance,years):
    growth_rate = ((ending_balance/beginning_balance)*(1/years))-1
    
    return growth_rate

In [234]:
year_one_growth = calculate_compound_growth_rate(29000.00, 45000.00, 1.0)
year_one_growth

0.5517241379310345

In [ ]:
year_two_growth = calculate_compound_growth_rate(29000.00, 45000.00, 3.0)
year_two_growth

In [ ]:
year_three_growth = calculate_compound_growth_rate(29000.00, 45000.00, 3.0)
year_three_growth